<h1 class= text-center>Miscellaneous Reagents</h1>
  <div class="row">
    <% @misc_reagents.each do |misc_reagent| %>
    <div class="col-md-3 col-sx-16">
      <ul class="list-group">
      
        <li class="list-group-item light-green"><strong><%= misc_reagent.kit %></strong></li>
        <li class="list-group-item light-green"><span><i>Updated <%= time_ago_in_words(misc_reagent.updated_at)%> ago</small></i></span> </li>
        <li class="list-group-item <%= misc_reagent.box == 0? 'low' : 'salmon'%>">Lot: <%= misc_reagent.lot %></li>
        <li class="list-group-item <%= misc_reagent.box == 0? 'low' : 'salmon'%>">Start: <%= misc_reagent.start %></li>
        <li class="list-group-item <%= misc_reagent.box == 0? 'low' : 'salmon'%>">Expiration: <%= misc_reagent.expiration %></li>
        <li class="list-group-item <%= misc_reagent.box == 0? 'low' : 'salmon'%>">Test Left: <span><small><em>(Open box)</em></small></span> <%= misc_reagent.test_left %></li>
        <li class="list-group-item <%= misc_reagent.box == 0? 'low' : 'salmon'%>">Box: <%= misc_reagent.box %></li>
        <li class="list-group-item"><%= link_to "Delete", misc_reagent_path(misc_reagent), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>  |  
        <%= link_to "Edit", edit_misc_reagent_path(misc_reagent), class: 'btn btn-primary'%></li>
      </ul>
    </div>
    <% end %>
  </div>
<%= link_to  "New Misc Reagents", new_misc_reagent_path, class: 'btn btn-primary' %>