<h3 class = "text-center">Current Controls</h3>

<div class="row">  
  <div class="col-md-offset-1 col-md-10">
    <table class="table-striped table">
      <tr>
        <th>QC Name</th>
        <th>Lot number</th>
        <th>Date Started</th>
        <th>Expiration</th>
        <th class = "text-center">Action</th>
      </tr>
      
      <% @controls.each do |control| %>
        <tr>
          <td><%= control.name %></td>
          <td><%= control.lot %></td>
          <td><%= control.start %></td>
          <td><%= control.expiration %></td>
          <td class ="text-center"><%= link_to "Edit", edit_control_path(control), class: 'btn btn-primary btn-sm' %> | <%= link_to "Delete", control_path(control),
                                                                                        class: 'btn btn-danger btn-sm',
                                                                                        method: :delete,
                                                                                        data: { confirm: 'Are you sure?' } %> </td>
        </tr>
      <% end %>
    </table>
    
    <br />
    <%= link_to  "New Control", new_control_path, class: 'btn btn-primary' %>
  </div>
  
</div>
  
