<div class="col-md-offset-3 col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @control.name %></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"><strong>Start Date:</strong> <%= @control.start %></li>
        <li class="list-group-item"><strong>Expiration:</strong> <%= @control.expiration %></li>
        <li class="list-group-item"><strong>Lot number:</strong> <%= @control.lot %></li>
      </ul>
      
      <%= link_to  "New Control", new_control_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>