<div class="col-md-offset-3 col-md-6 well ">
  <%= render 'shared/errors', obj: @chem_reagent %>
    
    <%= form_for @chem_reagent do |f| %>
        <div class="field form-group">
            <%= f.label(:reagent, "Reagent") %>
            <%= f.text_field :reagent, autofocus: true, class: 'form-control' %>
        </div>
        
        <div class="field form-group">
            <%= f. label(:lot, "Lot number") %>
            <%= f.text_field :lot, autofocus: true, class: 'form-control' %>
        </div>
        
        <div class="field form-group">
            <%= f.label(:start, "Started On") %>
            <%= f.text_field :start, autofocus: true, class: 'form-control' %>
        </div>
        
        <div class="field form-group">
            <%= f.label(:expiration, "Expiration") %>
            <%= f. text_field :expiration, autofocus: true, class: 'form-control'  %>
        <div>
        
        <div class="field form-group">
            <%= f. label(:flex, "Flex (open box)") %>
            <%= f.text_field :flex, autofocus: true, class: 'form-control' %>
        </div>
        
        <div class="field form-group">
            <%= f. label(:box, "Box)") %>
            <%= f.text_field :box, autofocus: true, class: 'form-control' %>
        </div>
        
        <br />
        <div class="actions form-group">
            <%= f.submit(@chem_reagent.new_record? ? "Create Reagent" : "Update", class: 'btn btn-success') %>
        </div>
    <% end %>

    <%= link_to "Back", chem_reagents_path, class: 'btn btn-info' %>
</div>